:root{
    --primery: #3dcfd3;
}

.flex {
    display: flex;
    justify-content: space-around;
}
.flex-1{
    flex: 1;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-around;
}
.justify-around{
    justify-content: space-between;
}
.text-center{
    text-align: center;
    
}

.button{
    border: 3px solid var(--primery);
    outline:0;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    background-color: transparent;
    padding: 0.8rem 2rem;
    margin-top: 2rem;
    transition: all 0.3s ease;
    font-family: "Gilda Display", serif;

}
